<html>
<head><title>SF Python</title></head>
<body>
    <h1>Welcome to the WWW of 1995!</h1>
    <h2><span id="user-count">{{ connected }}</span> 
        users have accessed this page.</h2>

    <script type="text/javascript" 
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/sfpy");
            socket.on('msg', function(msg) {
                $("#user-count").html(msg.count);
            });
        });
    </script>
</body>
</html>

