<html>
<head><title>Django District</title></head>
<body>
    <h1>In what cities other than DC have you gone to Python meetups?</h1>
    <form method="post" action="#" id="cityform">
        <label>City</label>
        <input type="text" id="city"></input>
        <input type="submit" value="Submit"></input>
    </form>

    <script type="text/javascript" 
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/dd");

            $("#cityform").submit(function(event) {
                socket.emit('city', {'city': $('#city').val()});
                $('#city').val('');
                return false;
            });

            socket.on('city', function(msg) {
                $("#cities-list").prepend('<h3>' + msg.city + '<h3>');
            });
            
        });
    </script>
</body>
</html>

